<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Needometer">
  <meta name="author" content="Fullstack Academy">

  <title>Needometer</title>

  <!-- CSS -->
  <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  <link href="libs/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h2>Please select two areas you would like to compare.</h2>
	<a id="databtn" class="btn btn-primary">Show Data</a>
	<a id="clrdatabtn" class="btn btn-primary">Clear</a>

  <!-- D3 USA Projection -->
  <div id="mapCanvas"></div>
  <!-- end map -->

  <div class="row">
    <div id="col1" class="col-md-6"></div>
    <div id="col2" class="col-md-6"></div>
  </div>

  <!-- Javascripts -->
  <!-- JQuery dependencies -->
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<!-- D3 -->
	<script src="libs/d3/d3.min.js"></script>
	<script src="libs/topojson/topojson.js"></script>
  <!-- local scripts -->
  <script src="js/dataChef.js"></script>
  <script src="js/renderData.js"></script>
  <script src="js/JQ.js"></script>
  <script src="js/mapLogic.js"></script>
  <script src="js/map.js"></script>

  <!-- script calls -->
  <script>
  	initD3();
  	initEvents();
  	// initSlider();
  </script>
	<script>
		var dataStore = [];
		var snapshotsCache = [];
		var selectedGeos = [];
	</script>

</body>
</html>
