<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Needometer">
    <meta name="author" content="Fullstack Academy">

    <title>Needometer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h3 style="text-align:center;"><p>DonorsChoose.org Needometer Page</p></h3><br>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script>
     initD3(960);
    </script>

    <script type="text/javascript" src="/javascripts/barchart1.js"></script>

    <!-- begin charts -->
    <h4><p>California</p></h4>
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <script>
                initD3BarChart1();
                initD3BarChart1();
                initD3BarChart1();
              </script>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <br><br>
              Chart 2
              <br><br><br>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <br><br>
              Chart 3
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>


    <h4><p>New York</p></h4>
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <br><br>
              Chart 1
              <br><br><br>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <br><br>
              Chart 2
              <br><br><br>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
              <br><br>
              Chart 3
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <table class="table table-hover table-condensed table-responsive">
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'><strong>California</strong></td>
          <td align='center'><strong>vs</strong></td>
          <td align='left'><strong>New York</strong></td>
        </tr>
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'><strong>1,278</strong></td>
          <td align='center'><strong>Schools</strong></td>
          <td align='left'>1,024</td>
        </tr>
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'><strong>14,322</strong></td>
          <td align='center'><strong>Teachers</strong></td>
          <td align='left'>12,011</td>
        </tr>
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'>455,732</td>
          <td align='center'><strong>Students</strong></td>
          <td align='left'><strong>493,943</strong></td>
        </tr>
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'><strong>Highest</strong></td>
          <td align='center'><strong>Poverty Level</strong></td>
          <td align='left'><strong>Highest</strong></td>
        </tr>
        <tr><!-- "th" doesn't allow centering -->
          <td align='right'><strong>38.4%</strong></td>
          <td align='center'><strong>% Minority Rate</strong></td>
          <td align='left'>32.7%</td>
        </tr>
      </table>
    </div>

    <!--
    <div class="container">
      <h3 style="text-align:center;"><p>California vs Illinois</p></h3><br>
      <div class="row">
        <div class="col-xs-4" align="right">
          <h4><p>California</p></h4><br>
          <p><strong>1,278</strong></p><br>
          <p><strong>14,322</strong></p><br>
          <p>455,732</p><br>
          <p><strong>Highest</strong></p><br>
          <p><strong>38.4%</strong></p><br>
        </div>
        <div class="col-xs-4" align="center">
          <h4><p>vs</p></h4><br>
          <p><strong>Schools</strong></p><br>
          <p><strong>Teachers</strong></p><br>
          <p><strong>Students</strong></p><br>
          <p><strong>Poverty Level</strong></p><br>
          <p><strong>% Minority Rate</strong></p><br>
        </div>
        <div class="col-xs-4" align="left">
          <h4><p>New York</p></h4><br>
          <p>1,024</p><br>
          <p>12,011</p><br>
          <p><strong>493,943</strong></p><br>
          <p><strong>Highest</strong></p><br>
          <p>32.7%</p><br>
        </div>
      </div>
    </div>
    -->

  </body>
</html>
