<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Needometer">
  <meta name="author" content="Fullstack Academy">

  <title>Needometer</title>

  <!-- CSS -->
  <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  <link href="libs/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="row">
    <!-- Filters Bar -->
    <nav>
      <ul>
        <li><a href="#">Student Info</a>
          <ul>
            <li><a href="#">Grade Level</a></li>
            <li><a href="#">Students Reached</a></li>
          </ul>
        </li>
        <li><a href="#">Teacher Info</a>
          <ul>
            <li><a href="#">New York Teaching Fellow</a></li>
            <li><a href="#">Teach for America Teacher</a></li>
            <li><a href="#">Gender</a></li>
          </ul>
        </li>
        <li><a href="#">Project Info</a>
        	<ul>
	        	<li><a href="#">Resource Type</a></li>
	        	<li><a href="#">Primary Focus Area</a></li>
	        	<li><a href="#">Secondary Focus Area</a></li>
	        	<li><a href="#">Primary Focus Subject</a></li>
	        	<li><a href="#">Secondary Focus Subject</a></li>
	          <li><a href="#"></a></li>
  				</ul>
        </li>
        <li><a href="#">Financial/Economic Info</a>
          <ul>
            <li><a href="#">Funding Status</a></li>
            <li><a href="#">Number of Donors</a></li>
            <li><a href="#">Payment Processing Charges</a></li>
            <li><a href="#">Sales Tax</a></li>
            <li><a href="#">Total Donations</a></li>
            <li><a href="#">Vendor Shipping Charges</a></li>
            <li><a href="#">"Almost Home" Match Project</a></li>
            <li><a href="#">"Double Your Impact" Match Project</a></li>
          </ul>
        </li>
        <li><a href="#">School Information</a>
          <ul>
            <li><a href="#">Charter School</a></li>
            <li><a href="#">Kipp School</a></li>
            <li><a href="#">Magnet School</a></li>
            <li><a href="#">New Leaders School</a></li>
            <li><a href="#">NCES Info</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>

  <!-- D3 USA Projection -->
  <div id="mapCanvas"></div>
  <!-- end map -->

  <br><br><br><br>

  <p align="center">
    <label for="years">Select Range of Years:</label>
    <input type="text" id="years" readonly="readonly" style="border:0; color:red; font-weight:bold;">
    <div class="col-xs-6">
      <div id="slider-range"></div>
    </div>
  </p>

  <br><br><br><br>

  <div class="row">
    <div class="col-md-6">
      <div class="chart-cols">
        <div class="col-md-6 col-md-offset-1">
          <div id="pieChart1aDiv"></div>
        </div>
        <div class="col-md-6 col-md-offset-4">
          <div id="pieChart1bDiv"></div>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <div id="pieChart1cDiv"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-cols">
        <div class="col-md-6 col-md-offset-2">
          <div id="pieChart2aDiv"></div>
        </div>
        <div class="col-md-6 col-md-offset-4">
          <div id="pieChart2bDiv"></div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div id="pieChart2cDiv"></div>
        </div>
      </div>
    </div>

  <!-- Javascripts -->
  <!-- JQuery dependencies -->
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<!-- D3 -->
	<script src="libs/d3/d3.min.js"></script>
	<script src="libs/topojson/topojson.js"></script>
  <!-- local scripts -->
  <script src="js/dataChef.js"></script>
  <script src="js/charts.js"></script>
  <script src="js/JQ.js"></script>
  <script src="js/map.js"></script>

  <!-- script calls -->
  <script>
  	initD3();
  	initSlider();
    // pieChart();
    // scatterPlot();
    // hideData();
    // hideShowData();
  </script>
	<script>
		{% autoescape false %}
			var stateDataCache = [];
		{% endautoescape %}
	</script>

</body>
</html>
