/*test*/
body {
  padding: 80px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

nav {
  margin: 100px auto;
  text-align: center;
}

.chart-cols {
  background-color: #eee;
  border: 1px;
}

.chart-reset * {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.container {
  padding: 50px;
}

.demo-panel-white {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

.hidden {
	display: none;
}

.state {
	fill: gray;
}

.state-border {
  fill: none;
  stroke: #fff;
}

.state.selected {
	fill: #d35d5a;
}

.state.active{
	fill: #EB6864;
}

#chartdiv {
  width: 100%;
  height: 400px;
  font-size: 11px;
}

#clrbtn {
	float: right;
	margin: 8px;
}

#databtn, #clrbtn2 {
	margin: 10px;
	display: inline-block;
	background: white;
	color: black;
}

#chartdiv1a {
  height    : 400px;
  font-size : 11px;
}

#chartdiv1b {
  height    : 400px;
  font-size : 11px;
}

#chartdiv1c {
  height    : 400px;
  font-size : 11px;
}

#chartdiv2a {
  height    : 400px;
  font-size : 11px;
}

#chartdiv2b {
  height    : 400px;
  font-size : 11px;
}

#chartdiv2c {
  height    : 400px;
  font-size : 11px;
}

#svg {
  width: 100%;
  height: auto;
}

/* responsive  ====================================================== */

	/* 'data loading' icon =================================================== */
	body.loading {
		overflow: hidden;
	}

	body.loading .modal {
		display: block;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba( 255, 255, 255, .8 )
							 url('http://business.comcast.com/img/preloader.gif')
							 50%
							 50%
							 no-repeat;
	}
	/* end 'data loading' icon ================================================ */

/* end responsive ================================================== */


