body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.land {
	fill: gray;
}

.state {
	fill: gray;
}

.county-border {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-border {
  fill: none;
  stroke: #fff;
}